---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h3 class="text-xl font-bold">Hello World from Astro!</h3>
		<p>The purpose of this project is to solve a verify simple problem.</p>
	</main>
</Layout>


