---
import Layout from "../layouts/Layout.astro";
import Header from "../layouts/Header.astro";
import Sidebar from "../layouts/Sidebar.astro";
---

<Layout title="Doc.ly">
  <main class="overflow-x-hidden relative min-h-screen w-full">
    <Header type="sidebar" />
    <Sidebar />
  </main>
</Layout>
