---
import DocumentIcon from "../components/DocumentIcon";
---

<div class="max-w-[calc(600px+2rem)] mx-auto px-4 py-4 gap-4 flex flex-col">
  <!-- Card -->
  <div
    class="w-full h-20 bg-amber-400 rounded-xl flex items-center px-4 text-white gap-3"
  >
    <div class="text-3xl">
      <DocumentIcon />
    </div>
    <div class="flex-1 text-2xl font-semibold align-middle">Title</div>
  </div>
  <!-- Card -->
  <div
    class="w-full h-20 bg-amber-400 rounded-xl flex items-center px-4 text-white gap-3"
  >
    <div class="text-3xl">
      <DocumentIcon />
    </div>
    <div class="flex-1 text-2xl font-semibold align-middle">Title</div>
  </div>
</div>
