<header
  class="w-full h-16 bg-green-500 flex items-center justify-between px-4 relative"
>
  <button class="h-12 w-12 flex justify-center items-center">
    <ion-icon class="text-white font-extrabold text-4xl" name="menu-outline"
    ></ion-icon>
  </button>
  <h1
    class="font-semibold text-3xl text-white tracking-wide absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2"
  >
    Doc.ly
  </h1>
</header>
